* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg);
    font-family: 'Inter', 'Orbitron', sans-serif;
    height: 100vh;
    overflow: hidden;
    padding: 15px;
    color: var(--text-color);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
}

.section {
    padding: 50px 0;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 40px;
    background: var(--main-bg);
}

.section-title {
    font-size: 48px;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.2;
}

.section-description {
    font-size: 18px;
    color: var(--text-color);
    max-width: 600px;
    margin: 0 auto;
}

.glass-card {
    background: rgba(8, 16, 30, 0.2);
    backdrop-filter: var(--medium-blur);
    border-radius: 48px;
    border: var(--border);
    padding: 2.5rem 2rem;
    box-shadow: var(--lite-shadow);
    transition: all 0.3s;
}


.gradient-text {
    background: var(--gradient-bg-1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.description {
    color: #aaf0ff;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: var(--text-shadow);
}

@media (max-width: 700px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 32px;
    }

    .section-description {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 28px;
    }
}

.button {
    background: transparent;
    border: var(--border);
    padding: 0.5rem 1.2rem;
    font-family: var(--font-1);
    font-weight: 500;
    font-size: 0.85rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
        background: var(--hover-bg);
        color: var(--text-active-color);
        text-shadow: var(--text-shadow);
        transform: translateY(-2px);
    }
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html,
body {
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: inset 20px 20px 0px 20px #000000!important;
    -webkit-text-fill-color: var(--text-color);
}

.link{
    text-decoration: none;
    color: var(--turquoise-lite);
    transition: var(--transition);
    position: relative;
    
    &::before{
        content: '';
        position: absolute;
        z-index: -1;
        width: 0%;
        height: .2px;
        background: var(--turquoise);
        transition: var(--transition);
        border-radius: 10px;
        z-index: -1;
        bottom: 0;
        left: 50%;
    }

    &:hover{
        text-shadow: var(--lite-shadow);
        color: var(--turquoise);

        &::before{
            width: 100%;
            left: 0;
        }
    }
}