* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg);
    font-family: 'Inter', 'Orbitron', sans-serif;
    height: 100vh;
    overflow: hidden;
    padding: 15px;
    color: var(--text-color);
}

.section {
    padding: 50px 0;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 40px;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.2;
}

.section-description {
    font-size: 18px;
    color: var(--text-color);
    max-width: 600px;
    margin: 0 auto;
}

.gradient-text {
    background: var(--gradient-bg-1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.description{
    color: #aaf0ff;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 5px cyan;
}

@media (max-width: 700px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 32px;
    }

    .section-description {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 28px;
    }
}